{% extends "layout.html" %}

{% set bodyId = "page-home" %}
{% block style %}
  <link rel="stylesheet" href="/style/home.css"/>
  <link rel="stylesheet" href="/style/modal.css"/>
{% endblock style %}

{% block content %}
  <div class="content">
    <header>
      <img id="logo-img" src="./assets/img/icones/logo.svg" alt="logo"/>
      <a href="/">
        <span></span>
        Cadastra um ponto de coleta</a >
    </header>
    <main>
      <h1>
        Seu markplace
        <br/>
        de coleta de resíduos
      </h1>

      <p>
        ajudamos pessoas a encontrarem pontos
        <br/>
        de coleta de forma eficiente
      </p>

      <a href="#">
        <span></span>
        <strong>Pesquisar ponto de coleta</strong>
      </a >
    </main>
  </div>
{% endblock content %}

{% include "partes/modal.html" %}
<script src="./assets/js/index.js"></script>